	{{ partial "header-start.html" . }}

        <title>{{ .Site.Params.mainsubtitle }} &middot; {{ .Site.Params.maintitle }}</title>

        <meta name="keywords" content="{{ .Site.Params.metaKeywords }}">
        <meta name="description" content="{{ with .Site.Params.description | markdownify }}{{ . }}{{ end }}">
        <meta name="author" content="{{ with .Site.Params.author }}{{ . }}{{ end }}">

        <link href="{{ .RSSlink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
        <link href="{{ .RSSlink }}" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}" />

    {{ partial "header-end.html" . }}

	<body>
        <header class="main-head">
            <div class="main-title">
                <h1>{{ .Site.Params.maintitle }}</h1>
                <h2>{{ .Site.Params.mainsubtitle | markdownify }}</h2>
            </div>
        </header>

        <div class="experiment">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 experiment-title">
                        <h4> </h4>
                        <h2><a href="/lispress">Создание блога</a></h2>
                    </div>
                    {{ range first 4 (where .Data.Pages "Section" "lispress") }}
                        <div class="col-xs-6 col-md-2 experiment-step">
                            <p>Шаг {{ .Params.step }}</p>
                            <h4><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
                            <p>{{ .Description }}</p>
                        </div>
                    {{ end }}
                </div>
            </div>
        </div>

        <div class="rubric">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <h2>Любимые книги</h2>
                    </div>
                    <div class="col-xs-6 col-md-4 book">
                        <img src="image/loer-zhizn.jpg">
                        <p>Жизнь на полной мощности</p>
                        <p><small>Джим Лоэр и Тони Шварц</small></p>
                        <p><small><a href="http://www.mann-ivanov-ferber.ru/">Манн, Иванов и Фербер</a>, 2016</small></p>
                    </div>
                    <div class="col-xs-6 col-md-4 book">
                        <img src="image/ries-lean-startup.jpg">
                        <p>Бизнес с нуля</p>
                        <p><small>Эрик Рис</small></p>
                        <p><small><a href="http://www.alpinabook.ru/">Альпина Паблишер</a>, 2015</small></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="experiment">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 experiment-title">
                        <h4> </h4>
                        <h2><strike><a href="/hackday-41">Hackay 41</a></strike> Failed</h2>
                    </div>
                    {{ range first 3 (where .Data.Pages "Section" "hackday-41") }}
                        <div class="col-xs-6 col-md-2 experiment-step">
                            <p>Шаг {{ .Params.step }}</p>
                            <h4><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
                            <p>{{ .Description }}</p>
                        </div>
                    {{ end }}
                </div>
            </div>
        </div>

        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <h2>Куда я попал?</h2>
                    </div>
                    <div class="col-sm-6">
                        <p>
                            {{ .Site.Params.description | markdownify}}
                            {{ partial "social" . }}
                        </p>
                    </div>

                </div>
             </div>
        </footer>

        {{ partial "analytic.html" . }}
    </body>
</html>
