	{{ partial "header.html" . }}
	<body>
        <header class="main-head" style="">
            <div class="main-title">
                <h1>{{ .Site.Params.maintitle }}</h1>
                <h2>{{ .Site.Params.mainsubtitle | markdownify }}</h2>
            </div>
        </header>

        <div class="experiment">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 experiment-title">
                        <h4>Эксперимент</h2>
                        <h2>Создание блога</h2>
                    </div>
                    <div class="col-xs-6 col-md-2 experiment-step">
                        <p>Шаг 1</p>
                        <h4><a href="/project/lispress/1-hypothesis/">Гипотезы</a></h4>
                        <p>Для чего нужна ещё одна платформа для блогов?</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="rubric">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <h2>Любимые книги</h2>
                    </div>
                    <div class="col-xs-6 col-md-3 book">
                        <img src="image/loer-zhizn.jpg">
                        <p>Жизнь на полной мощности</p>
                        <p><small>Джим Лоэр и Тони Шварц</small></p>
                        <p><small><a href="http://www.mann-ivanov-ferber.ru/">Манн, Иванов и Фербер</a>, 2016</small></p>
                    </div>
                    <div class="col-xs-6 col-md-3 book">
                        <img src="image/ries-lean-startup.jpg">
                        <p>Бизнес с нуля</p>
                        <p><small>Эрик Рис</small></p>
                        <p><small><a href="http://www.alpinabook.ru/">Альпина Паблишер</a>, 2015</small></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="rubric">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <h2>Кто мы такие?</h2>
                    </div>
                    <div class="col-sm-5">
                        <p>
                            {{ .Site.Params.description }}
                        </p>
                    </div>
                    <div class="col-sm-3">
                        <h2>Автор</h2>
                        <p>{{ .Site.Params.author }}</p>
                    </div>
                </div>
            </div>
        </div>
        {{ partial "footer.html" . }}
    </body>
</html>
