
<footer>
    <div class="row">
        <div class="col-sm-offset-2 col-sm-4">
				<p><strong>Пишите</strong>, если нашли ошибку или понравилась статья.</p>
					{{ partial "social.html" . }}
        </div>

        <div class="col-sm-offset-4 col-sm-2">
				<p>Автор:<br>{{ .Params.author }}</p>
				<p>Дата:<br>{{ .Date.Format "2.01.2006" }}</p>
        </div>
    </div>
</footer>


{{ if .Site.Params.enableAnalytic }}
	{{ template "_internal/google_analytics.html" . }} 
			
	{{ partial "yametric.html" . }}
{{ end }}