	<!-- Full-listed styles -->
	{{ partial "header-full-styles.html" . }}

	<!-- Styles -->
	<link rel="stylesheet" href="{{ .Site.BaseURL }}/css/main.min.css">
	<link rel="stylesheet" href="{{ .Site.BaseURL }}/css/header.min.css">
	<link rel="stylesheet" href="{{ .Site.BaseURL }}/css/fonts.min.css">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

	<!-- <script src="/libs/jquery/jquery.min.js" type="text/javascript" encoding="UTF-8"></script>
	<script src="/libs/js-cookies/js-cookies.js" type="text/javascript" encoding="UTF-8"></script>
	<script src="/libs/dynamica-lib/watcher.js" type="text/javascript" encoding="UTF-8"></script> -->
</head>
