    {{ partial "header-start.html" . }}

        <title>{{ .Title }}. Шаг {{ .Params.step }} &middot; {{ .Site.Title }}</title>

        <meta name="description" content="{{ .Description }}">
        <meta name="author" content="{{ .Params.author }}">
        <meta name="keywords" content="{{ .Params.metakeywords }}">

        <link href="{{ .Node.RSSlink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
        <link href="{{ .Node.RSSlink }}" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}" />

    {{ partial "header-end.html" . }}

    <body>
        <header class="article-head">
            <div class="main-title">
                <h1><a href="{{ .Site.BaseURL }}">{{ .Site.Params.maintitle }}</a></h1>
            </div>
        </header>

        <section id="wrapper">
            <div class="container">
                <article class="post">
                    <div class="col-md-offset-2 col-md-8">
                        <header>
                            {{ if .Params.step }}
                            <h4>
                                Шаг {{ .Params.step }}
                            </h4>
                            {{ end }}
                            <h1>{{ .Title | markdownify}}</h1>
                            <h3>{{ .Description | markdownify }}</h3>
                        </header>

                        {{ if .Site.Params.enableTableOfContent }}
                        <div class="table-of-content">
                            <h3>Оглавление</h3>
                            {{ .TableOfContents }}
                        </div>
                        {{ end }}
                    </div>

                    <div class="col-md-offset-2 col-md-8 post-body">
                        <section id="post-body">
                            {{ .Content }}
                        </section>
                    </div>

                    {{ if and .Site.Params.enablePath .Params.sidebarhistory }}
                        <div class="col-md-2 path">
                            {{ range where .Site.Pages.ByDate "Section" .Section }}
                                 <p>Шаг {{ .Params.step }} <br><a href="{{ .Permalink }}">{{ .Title }}</a></p>
                            {{ end }}

                            <p style="margin-top: 2em"><a href="/{{ .Section }}"><i class="fa fa-map-signs"></i> Дорожная карта</a></p>
                        </div>
                    {{ end }}


                    {{ if .Params.projectroadmap }}
                      <div class="col-md-8 col-md-offset-2">
                          <!-- TODO extract to new template -->
                              {{ range where .Site.Pages.ByDate "Section" .Params.projectroadmap }}
                                      <p>Шаг {{ .Params.step }} <a href="{{ .Permalink }}">{{ .Title }}</a></p>
                              {{ end }}
                      </div>
                    {{ end }}
                </article>
                {{ partial "article-footer.html" . }}
                {{ partial "analytic.html" . }}
            </div>
        </section>
    </body>
</html>
