    {{ partial "header.html" . }}
    <body>
        <header class="article-head">
            <div class="main-title">
                <h1><a href="{{ .Site.BaseURL }}">{{ .Site.Params.maintitle }}</a></h1>
            </div>
        </header>

        <section id="wrapper">
            <div class="container">
                <div class="col-md-offset-2 col-md-8">
                    <article class="post">
                        <header>
                            <h4>
                                Шаг {{ .Params.step }}
                            </h4>
                            <h1>{{ .Title }}</h1>
                            <h3>{{ .Description }}</h3>
                        </header>

                        {{ if .Site.Params.enableTableOfContent }}
                        <div class="table-of-content">
                            <h3>Оглавление</h3>
                            {{ .TableOfContents }}
                        </div>
                        {{ end }}

                        <section id="post-body" class="post-body">
                            {{ .Content }}
                        </section>


                        {{ if .Site.Params.enablePath }}
                        <div class="path">
                            <h2>Полный путь</h2>
                            {{ range where .Site.Pages "Section" .Section }}
                                 <p><a href="{{ .Permalink }}">Шаг {{ .Params.step }} {{ .Title }}</a></p>
                            {{ end }}
                        </div>
                        {{ end }}
                    </article>
                </div>
            </div>
        </section>
        
        {{ partial "footer.html" . }}
    </body>
</html>